<!DOCTYPE html>
<html lang="en">


<head>
    <% include partials/head %>

    <title>Products</title>
    <!--<style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the top navigation bar */


        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
        }

        .button {
            float: left;
            background-color: #333;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
        }

        .clickableButton {
            cursor: pointer;
        }

        .logoutButton {
            float: right;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }
    </style> -->
    <% include partials/head %>

</head>


<body>
<% include partials/navbar %>
<div class="container-fluid" style="padding: 2rem">
    <h1>Hot Products</h1>
    <hr />
        <div class="card-deck" style="padding: 1rem">
        <% for(let i = 0; i < 4 && i < items.length; i++) { %>

                <div class="card" style="max-width: 27.5rem; height: 30rem">
                    <img src="<%= items[i].picture %>"  class="card-img-top" alt="Card image cap" style="height: 60%">
                    <div class="card-body">
                        <h5 class="card-title"><%= items[i].name %> $<%= items[i].price %></h1>
                            <p class="card-text"><%= items[i].description %></p>
                            <form action="/pay" method="POST">
                                <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                                <input type="hidden" name="price" value="<%= items[i].price %>">
                                <input type="hidden" name="name" value="<%= items[i].name %>">
                                <input type="hidden" name="description" value="<%= items[i].description %>">
                                <input type="submit" class="btn btn-primary" value="Buy">
                            </form>
                            <% if(items[i].sellerID === user) { %>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                                    <input type="submit" class="btn btn-secondary" value="Delete">
                            </form>
                            <% } %>
                    </div>
                </div>
            
        <% } %>
    </div><br><br>
    <h1>Other Products</h1>
    <hr />
    <% for(let j = 1; j < Math.ceil(items.length/4); j++) { %>
    <div class="card-deck" id="Hot Products" style="padding: 1rem">
        <% for(let i = j*4; i < items.length && i < (j+1)*4; i++) { %>
                 <div class="card" style="max-width: 27.5rem; height: 30rem">
                    <img src="<%= items[i].picture %>"  class="card-img-top" alt="Card image cap" style="height: 60%;">
                    <div class="card-body">
                        <h5 class="card-title"><%= items[i].name %> $<%= items[i].price %></h1>
                            <p class="card-text"><%= items[i].description %></p>
                            <form action="/pay" method="POST">
                                <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                                <input type="hidden" name="price" value="<%= items[i].price %>">
                                <input type="hidden" name="name" value="<%= items[i].name %>">
                                <input type="hidden" name="description" value="<%= items[i].description %>">
                                <input type="submit" class="btn btn-primary" value="Buy">
                            </form>
                            <% if(items[i].sellerID === user) { %>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                                    <input type="submit" class="btn btn-secondary" value="Delete">
                            </form>
                            <% } %>
                    </div>
                </div>
        <% } %>
    </div>
    <% } %>
</div>
    <hr />
    <div class="container"><% include partials/menu %></div>
    <% include partials/script %>

</body>


</html>