<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Products</title>
        <style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
        }

        .button {
            float: left;
            background-color: #333;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 4px 2px;
        }

        .clickableButton {
            cursor: pointer;
        }
        
        .logoutButton {
            float: right;
        }
            
        </style>
    </head>


    <body>
        <div class="topnav">
            <% if(isSeller) { %>
                <form action="/products/add" method="GET">
                    <button type="submit" class="button clickableButton">Add Item</button>
                </form>
            <% } %>
                
            <form action="/password/change">
                <button type="submit" class="button clickableButton">Change Password</button>
            </form>

            <form action="/logout">
                <button type="submit" class="button logoutButton clickableButton">Logout</button>
            </form>

        </div>
        <h1>All Products</h1>
        <h3>Hi <%= name %></h3>
        <hr/>
        <form action="/products" method="POST">
            <input type="text" id="searchCritera" name="searchCritera">
            <input type="submit" value="Search">
        </form>
        <% let i = 0; %>
        <% if(items.length > 3) { %>
            <hr/>
            <h1>Hot Products</h1>
            <% for(; i < 3; i++) { %>
                <div>
                    <img src="<%= items[i].picture %>" width="256" height="256"/>
                    <h2><%= items[i].name %> $<%= items[i].price %></h1>
                    <p><%= items[i].description %></p>
                    <form action="/pay" method="POST">
                        <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                        <input type="hidden" name="price" value="<%= items[i].price %>">
                        <input type="hidden" name="name" value="<%= items[i].name %>">
                        <input type="hidden" name="description" value="<%= items[i].description %>">
                        <input type="submit" value="Buy">
                    </form>
                    <% if(items[i].sellerID === user) { %>
                        <form action="/delete" method="POST">
                            <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                            <input type="submit" value="Delete">
                        </form>
                    <% } %>
                </div>
            <% } %>
        <% } %>
        <hr/>
        <% for(; i < items.length; i++) { %>
            <article>
                <img src="<%= items[i].picture %>" width="256" height="256"/>
                <h2><%= items[i].name %> $<%= items[i].price %></h1>
                <p><%= items[i].description %></p>
                <form action="/pay" method="POST">
                    <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                    <input type="hidden" name="price" value="<%= items[i].price %>">
                    <input type="hidden" name="name" value="<%= items[i].name %>">
                    <input type="hidden" name="description" value="<%= items[i].description %>">
                    <input type="submit" value="Buy">
                </form>
                <% if(items[i].sellerID === user) { %>
                    <form action="/delete" method="POST">
                        <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                        <input type="submit" value="Delete">
                    </form>
                <% } %>
            </article>
        <% } %>
        
        <hr/>
        
    </body>
            
</html>