<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="ie=edge">
        <title>Succesful Payment</title>
        <% include partials/head %>
    </head>
    <body>
        <div class="container-fluid" style="padding: 5rem" >
            <div class="" style="height: 12rem;">
                <h3>Receipt:</h1>
                <p>Payer ID: <%= payerId %><br/>
                Payment ID: <%= paymentId %><br/>
                Total: $<%= payment %></p>
                <form action="/" method="get">
                    <input type="submit" class="btn btn-raised btn-primary" value="Return">
                </form>
            </div>

            <% if (items.length > 0) { %>
                <h2>Recommended Products</h1>
                <hr />
                <div class="card-deck" style="padding: 2rem">
                    <% for(let i = 0; i < items.length; i++) { %>
                        <div class="card" style="max-width: 20rem;">
                            <img src="<%= items[i].picture %>"  class="card-img-top" alt="Card image cap" style="height: 40%">
                            <div class="card-body">
                                <h5 class="card-title"><%= items[i].name %> $<%= items[i].price %></h1>
                                <p class="card-text"><%= items[i].description %></p>
                                <form action="/pay" method="POST">
                                    <input type="hidden" name="sku" value="<%= items[i].sku %>"">
                                    <input type="hidden" name="price" value="<%= items[i].price %>">
                                    <input type="hidden" name="name" value="<%= items[i].name %>">
                                    <input type="hidden" name="description" value="<%= items[i].description %>">
                                    <input type="submit" class="btn btn-primary" value="Buy">
                                </form>
                            </div>
                        </div>    
                    <% } %>
                </div>
            <% } %>
            
        </div> 
    </body>
</html>